CompileFlags:
  Add:
    - "-isystem/usr/lib/gcc/arm-none-eabi/14.2.0/include"
    - "-isystem/usr/lib/gcc/arm-none-eabi/14.2.0/include-fixed"
    - "-isystem/usr/lib/gcc/arm-none-eabi/14.2.0/../../../../arm-none-eabi/include"
